{% extends 'layout.html.twig' %}
{% block title %}
    Formulaire produit
{% endblock %}

{% block content %}
    
    <h1>{{ title }}</h1>
    {% if photo is defined %}
    <img src="{{ asset ('photo/'~ photo) }} " height="150"/>

    {% endif %}


{# ici le formulaire est generer automatiquement sans vraiment de mise en page #}
    {{ form(produitForm)}} 

                {# si on veu gerer chaque champ un par un #}
                {# {{ form_start(produitForm)}} 

                {{ form_widget(produitForm.reference, {'attr':{
                    'placeholder' :'Reference',
                    'min':2
                }} ) }} 

                {{ form_widget(produitForm.Enregistrer, {'attr':{
                    'class' :'btn-success',
                    'data-id':'produitSubmit'
                }} ) }} 
                {{ form_end(produitForm)}}  #}



{% endblock %}